body{
    margin: 0px;
    font-family: serif;
}
.main-text{
    text-align: center;
    color: blanchedalmond;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
}
button{
    color:black;
    background-color:cornsilk;
    padding: 10px;
    border-radius: 20%;
    transition-duration: 1s;
}
button:hover{
    background-color: bisque;
}




.background-image {
    background-image: url("/Assets/image/Istiqomah\ lah.jpeg") ;
    background-color: black;
    background-size: cover;
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
